* {
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color:#a60e24;

  }

@media only screen and (max-width:800px){
    h1,h2 {
        font-size: 2rem;
    }
}

ul {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: white;
}
.list a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}
.list{
    display: flex;
    margin-right: 2rem;
}

#welcome-section{
  height:100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.class {
    display: flex;
    margin-right: 2rem;
}

li {
    display : list-item;
}

#welcome-section > p {
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
    color: #a60e24;
}

.h2projects{
    max-width: 700px;
    margin: 0 auto 5rem auto;
    border-bottom: 0.2rem solid white;
    
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.5em;
    color: white;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#projects{
    text-align: center;
    padding: 7rem 1rem;
    background-color: #45567d;
}

.project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.project {
    background: #303841;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

.projectimages {

    height: calc(100% - 3rem);
    width: 100%;
    object-fit: cover;
}

img{
    display: block;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #303841;
}

.contactinfo {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 35px;
}

.contact-section-header > h2 {
    font-size: 3.5rem;
}